<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/GURUH.png" alt="Guruh Hendryan" class="img-thumbnail
            rounded-circle" width="180" />
            <h1 class="display-4">Guruh Hendryan</h1>
            <p class="lead">Lecturer | COnten Creator</p>
        </div>
    </div>
</div>
    